.sw-cms-el-config-bp-hero-cell {
    .sw-cms-el-config-bp-hero-cell__media-section {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #d1d9e0;
    }

    .sw-cms-el-config-bp-hero-cell__text-section,
    .sw-cms-el-config-bp-hero-cell__url-section {
        margin-bottom: 24px;
    }
}
