.sw-cms-el-preview-ez-before-after-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #64748b;
    font-size: 11px;
    font-weight: 700;
}
