.sw-cms-el-config-bp-dual-image-cell {
    &__media-section {
        margin-bottom: 16px;
    }

    &__alt-section {
        margin-bottom: 16px;
    }

    &__url-section {
        margin-bottom: 8px;
    }
}
